-- ==============================================================================
-- SCRIPT DE ACTUALIZACIÓN: Nuevas tarifas unitarias del Operador
-- Tarifas: S/ 0.43 (Tramontina) y S/ 0.55 (Bellota)
-- ==============================================================================

BEGIN;

-- 1. Actualizar el costo de mano de obra por cada item guardado en el historial
UPDATE items_pedido_herramienta
SET mano_obra = cantidad * 0.43
WHERE marca = 'Tramontina';

UPDATE items_pedido_herramienta
SET mano_obra = cantidad * 0.55
WHERE marca = 'Bellota';

-- 2. Recalcular el total_mano_obra de cada pedido sumando sus items actualizados
UPDATE pedidos_herramientas ph
SET total_mano_obra = (
    SELECT COALESCE(SUM(mano_obra), 0)
    FROM items_pedido_herramienta iph
    WHERE iph.pedido_id = ph.id
);

-- 3. Recalcular el total_mano_obra acumulado de todas las tandas
UPDATE tandas t
SET total_mano_obra = (
    SELECT COALESCE(SUM(total_mano_obra), 0)
    FROM pedidos_herramientas ph
    WHERE ph.tanda_id = t.id
);

COMMIT;

-- ==============================================================================
-- VERIFICACIÓN RÁPIDA (Opcional, para confirmar los montos)
-- ==============================================================================
-- SELECT id, tipo, marca, cantidad, mano_obra FROM items_pedido_herramienta;
-- SELECT id, tanda_id, total_mano_obra FROM pedidos_herramientas;
